{% extends 'app/base/base.html' %}
{% load bootstrap3 %}

{% block title %}DjangoPharma{% endblock %}
{% block subtitle %}About our Comapny{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>About Us</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>
                <strong>Company: </strong> Local Pharmacy L.T.D
            </p>
            <p>
                <strong>Address:</strong>
                Axarnon 323<br/>
                Athens, Greece 10445
            </p>
            <p>
                <strong title="Phone">Telephone:</strong>21080808000
            </p>
            <p>
                <strong>Founded: </strong>2000
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Our company has been operating in the pharmaceutical sector since 2000.
                We have been providing pharmaceutical care, health counseling, pharmaceutical, health and beauty
                products
                through our Pharmacy Store located at Axarnon 343, Athens.
            </p>
            <p>
                Our Pharmacy Store was founded in 2000 and has already 17 years of history providing
                responsible health-care services to the community of Athens.
                In the period 2000-2014, the Pharmacy operated exclusively under the management of the
                pharmacist Danai Sotiropoulou.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Our vision is to improve the quality of life of our customers, by providing the best health-care
                services
                and products at the best prices, while offering responsible counseling and a pleasant shopping
                experience.
            </p>
            <p>
                Our Goal
                To offer the same services on the Internet, as in our Pharmacy store, to as many people as possible.
            </p>
            <p>
                We would like to thank all our customers for their trust and loyalty. We promise that will always try to
                provide
                them with a respectful, responsible and honest service.
            </p>
        </div>
    </div>

      <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
      </div>

    <div class="row">
        <div class="col-md-3">
             <img src="/static/app/images/pharmacy.jpg" class="img-responsive" alt="Responsive image"
                         style="height: 250px">
        </div>
        <div class="col-md-4">
             <img src="/static/app/images/pharmacy2.jpg" class="img-responsive" alt="Responsive image"
                         style="">
        </div>
      <div class="col-md-4">
             <img src="/static/app/images/pharmacy3.jpg" class="img-responsive" alt="Responsive image"
                         style="">
        </div>
    </div>

{% endblock %}
