{% extends 'app/base/base.html' %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}
    {% csrf_token %}


    <div class="row">
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">User Details</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <td>Name:</td>
                                    <td>{{ user.first_name }}</td>
                                </tr>
                                <tr>
                                    <td>Last Name:</td>
                                    <td>{{ user.last_name }}</td>
                                </tr>
                                <tr>
                                    <td>Username:</td>
                                    <td>{{ user.username }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">User Address</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <td>City:</td>
                                    <td>{{ address.city }}</td>
                                </tr>
                                <tr>
                                    <td>Street:</td>
                                    <td>{{ address.street }}</td>
                                </tr>
                                <tr>
                                    <td>Street Number:</td>
                                    <td>{{ address.streetno }}</td>
                                </tr>
                                <tr>
                                    <td>ZipCode:</td>
                                    <td>{{ address.zip }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Drugs</div>
                <div class="panel-body">

                    {% for item in cart %}
                        <div class="row" style="margin-bottom: 15px">
                            <div class="col-md-3">
                                <img src="/static/app/images/drugs/{{ item.product.imagePath }}" class="img-responsive"
                                     alt="Responsive image"
                                     style=" margin: 0 auto; width: 100px; height: 70px">
                            </div>
                            <div class="col-md-7" style="text-align: center">
                                <span style="font-weight: bold">{{ item.product.friendly_name }}</span>
                                <div style="font-size: smaller">
                                    <span>Quantity: </span>{{ item.quantity }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                {{ item.total_price }}
                                <span> &euro;</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form action="/submit_order" method="post" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">Addition Order Details</div>
                    <div class="panel-body">

                        <div class="row" style="margin-bottom: 15px">
                            <div class="col-md-4">
                                <span>Payment Type</span>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" name="paymentType">
                                    <option value="1">From store</option>
                                    <option value="2">Courier</option>
                                </select>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 15px">
                            <div class="col-md-4">
                                <span>Shipment Type</span>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" name="shipmentType">
                                    <option value="1">Cash</option>
                                    <option value="2">Bank Disposal</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <span>Comments</span>
                            </div>
                            <div class="col-md-8">
                                <textarea name="comments"></textarea>
                            </div>
                        </div>

                        {% csrf_token %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" id="submitOrder" class="btn btn-success">
                            <i class="fa fa-dollar"></i>
                            Submit Order
                        </button>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-danger" href="/cart" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger hidden" id="checkout-fail">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Failure!</strong> Please Try again later!
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}

    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

    <script type="application/javascript">

     $('#submitOrder').on('click', function () {
        // hide the failure message
        $('#checkout-fail').addClass('hidden');
        debugger;
        // get the CSRF token
        var token = $('input[name=csrfmiddlewaretoken]').val();
        // get values
        var paymentType = $('select[name=paymentType]').find(":selected").val();
        var shipmentType = $('select[name=shipmentType]').find(":selected").val();
        var comments = $('textarea[name=comments]').val();

        var data = {
            paymentType: paymentType,
            shipmentType: shipmentType,
            comments: comments
        };

        $.ajax({
            type: "POST",
            url: '/submit_order',
            data: data, beforeSend: function (xmlHTTPRequest) {
                xmlHTTPRequest.setRequestHeader('X-CSRFToken', token)
            },
            success: function () {
               window.location = '/order_result';
            },
            error: function (xhr, textStatus, errorThrown) {
                $('#checkout-fail').removeClass('hidden');
            }
        });
    });
    </script>

{% endblock %}
