{% extends 'app/base/base.html' %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}
    <h3><span style="font-weight: bold">Drug: </span>{{ drug.friendly_name }}</h3>
    <div class="row">
        <div class="col-md-4">
            <img src="{{image_path}}" class="img-responsive" alt="Responsive image"
                 style=" margin: 0 auto;">
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <td>Drug ID:</td>
                    <td>{{ drug.id }}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{ drug.friendly_name }}</td>
                </tr>
                <tr>
                    <td>Availability:</td>
                    <td>{{ drug.availability }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ drug.description }}</td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>{{ drug.category.name }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% csrf_token %}
    <input type="hidden" id="drugId" value="{{ drug.id }}">
    <div class="row">
        <div class="col-md-2">
            <div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn"><span
                            class="glyphicon glyphicon-minus"></span></button>
				</span>
                <input type="text" id="quantity" class="form-control text-center" value="1">
                <span class="input-group-btn">
					<button class="btn btn-default" data-dir="up"><span
                            class="glyphicon glyphicon-plus"></span></button>
				</span>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" id="addToCart" class="btn btn-warning">Add To Cart</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="alert alert-success hidden" id="cart-alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Success!</strong> The drug has been added to the cart!
        </div>
        <div class="alert alert-danger hidden" id="cart-alert-fail">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Failure!</strong> The drug has been not been added to the cart! Please Try again later
        </div>
    </div>



{% endblock %}

{% block scripts %}

    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
