{% extends 'app/base/base_empty.html' %}
{% load bootstrap3 %}

{% block title %}error{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    DjangoPharma Registration
                </div>
                <div class="panel-body">

                    <h2>An Error Occured. Please contact the Admin!</h2>
                    <div class="m-t-md">

                        <p>
                            Το σαιτ Djangoharma.gr δίνει εξαιρετική βαρύτητα στην προστασία της ανωνυμίας σας. Με
                            κανέναν τρόπο τα προσωπικά δεδομένα των μελών του, δεν πωλούνται σε διαφημίστηκες εταιρείες
                            ή τρίτους εκτός του σαιτ!
                        </p>

                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
