{% extends 'app/base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block title %}django-bootstrap3{% endblock %}
{% block subtitle %}About our APP{% endblock %}

{% block custom_style %}
    <link rel="stylesheet"  href="{% static 'app/styles/facetedsearch.css' %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div  class="panel-body">
                    <div class="m-b-md">
                        <h4>
                            Filters
                        </h4>
                        <small>
                            Filter drugs basend on options below.
                        </small>
                    </div>

                        <div id="facets"></div>

                </div>

            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="input-group">
                                <input id="search_drugs" class="form-control" type="text" placeholder="Search drugs.." >
                                <div class="input-group-btn">
                                    <button  id="btn_search_drugs" class="btn btn-default" ><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="results"  class="row">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'app/vendor/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'app/vendor/facetedsearch/facetedsearch.js' %}"></script>

    <script type="text/javascript">


    $("#btn_search_drugs").click(function () {
        s=$('#search_drugs').val();
       $.facetUpdateSearch('friendlyName',s);
});

        var data = {{ data|safe }};
        jQuery.each( data, function( i, val ) {
          data[i] = flatten(val);
        });



                var item_template =
            '<div class="col-lg-4">' +
			'<div class="hpanel hblue contact-panel">' +
			'<div class="panel-body panel_drug_description">' +
            '<img alt="logo" class="img-circle m-b" src="/static/app/images/drugs/<%=obj.imagePath %>">' +
            '<h3><a href="/drugs/<%= obj.id %>"><%= obj.friendlyName %></a</h3>' +
			'<div class="text-muted font-bold m-b-xs"><% if (obj.drugCategory-name) {  %><%= obj.drugCategory-name %><% } %></div>'+
            '<p><%= obj.description %></p>' +
			'</div>' +
			'<div class="panel-footer contact-footer">' +
			'<div class="row">' +
			'<div class="col-md-4 border-right"> <div class="contact-stat"><span>Price: </span> <strong><% if (obj.price) {  %> &euro; <%= obj.price %><% } %></strong></div> </div>' +
			'<div class="col-md-4 border-right"> <div class="contact-stat"><span>Availability: </span> <strong><% if (obj.availability) {  %> <%= obj.availability %><% } %></strong></div> </div>' +
			'<div class="col-md-4"> <div class="contact-stat"> <a type="button" class="btn btn-xs btn-info" href="/drugs/<%= obj.id %>" ><i class="fa fa-paste"></i> Details </a>  </div> </div>' +
            '</div></div></div></div>';


        var sfacet_settings = {
            items: data,
            facets: {
                'drugCategory-name': 'Category',
                'availability': 'Availability',
                '_friendlyName' : '_friendlyName'
            },
            resultSelector: '#results',
            facetSelector: '#facets',
            resultTemplate: item_template,
            facetContainer     : '<div class="form-group facetsearch" id=<%= id %> ></div>',
            facetTitleTemplate : ' <label class="control-label"><%= title %>:</label>',
            bottomContainer    : '<div class="form-group bottomline"></div>',
            countTemplate      : '<div class=facettotalcount><%= count %> Results</div>',
            deselectTemplate   : '<div id="deselectstartover"><button class="deselectstartoverbtn btn-xs btn-danger  btn-circle" type="button"><i class="fa fa-times"></i></button>Clear all filters</div>',
            orderByOptions     : {'friendlyName': 'name', 'availability': 'availability'}
        };



        $(function () {
           $.facetelize(sfacet_settings);
        });
    </script>
{% endblock %}
