{% extends 'app/base/base.html' %}
{% load bootstrap3 %}

{% block title %}django-bootstrap3{% endblock %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">

        <form  action="." role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_field form.username size='md' %}
            {% bootstrap_field form.password placeholder='password' %}
             <input type="hidden" name="next" value="/" />
            {% buttons submit='Log in' reset="Cancel" %}{% endbuttons %}
        </form>

        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
