{% extends 'app/base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block title %}django-bootstrap3{% endblock %}
{% block subtitle %}About our APP{% endblock %}

{% block custom_style %}
    <link rel="stylesheet"  href="{% static 'app/styles/facetedsearch.css' %}" />
{% endblock %}

{% block content %}

    <div id=facets></div>

    <div id=results class="row"></div>


    <p>Use this area to provide additional information.</p>

{% endblock %}

{% block custom_script %}
    <script src="{% static 'app/vendor/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'app/vendor/facetedsearch/facetedsearch.js' %}"></script>

    <script type="text/javascript">
        var data = {{ data|safe }};
        jQuery.each( data, function( i, val ) {
          data[i] = flatten(val);
        });



                var item_template =
            '<div class="col-lg-4">' +
			'<div class="hpanel hblue contact-panel">' +
			'<div class="panel-body">' +
            '<img alt="logo" class="img-circle m-b" src="/static/app/images/drugs/<%=obj.imagePath %>">' +
            '<h3><a href=""><%= obj.friendlyName %></a</h3>' +
			'<div class="text-muted font-bold m-b-xs"><% if (obj.drugCategory-name) {  %><%= obj.drugCategory-name %><% } %></div>'+
            '<p><%= obj.description %></p>' +
			'</div>' +
			'<div class="panel-footer contact-footer">' +
			'<div class="row">' +
			'<div class="col-md-4 border-right"> <div class="contact-stat"><span>Price: </span> <strong><% if (obj.price) {  %>, <%= obj.price %><% } %></strong></div> </div>' +
			'<div class="col-md-4 border-right"> <div class="contact-stat"><span>Availability: </span> <strong><% if (obj.price) {  %>, <%= obj.price %><% } %></strong></div> </div>' +
			'<div class="col-md-4"> <div class="contact-stat"> <a type="button" class="btn btn-info" href="/drugs/<%= obj.id %>" ><i class="fa fa-paste"></i> Details </a>  </div> </div>' +
            '</div></div></div></div>';


        var sfacet_settings = {
            items: data,
            facets: {
                'drugCategory-name': 'What Category',
                'availability': 'availability'
            },
            resultSelector: '#results',
            facetSelector: '#facets',
            resultTemplate: item_template,
            orderByOptions: {'friendlyName': 'name', 'availability': 'availability'}
        }
        $(function () {
            $.facetelize(sfacet_settings);
        });
    </script>
{% endblock %}