{% extends 'app/base/base.html' %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}

    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-md-10">
            <section id="addDrugForm">
                <form action='.' method='post'>{% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' value='Submit'/>
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm"></section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;
        </div>
    </div>
    {% if result is not None %}
        <div class="row">
            {% if result %}
            <div class="alert alert-success" id="cart-alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Success!</strong> The drug has been updated!
            </div>
                {% endif %}
            {% if not result %}
            <div class="alert alert-danger" id="cart-alert-fail">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Failure!</strong> The drug has been not been updated! Please Try again later
            </div>
                {% endif %}
        </div>
    {% endif %}

{% endblock %}


{% block scripts %}

    {% load staticfiles %}

{% endblock %}
